<div class="call-container">
    <header>
        <img class="logo-img" src="../../../assets/images/Altegon-logo-white.png" alt="Altegon-logo-white">
    </header>
    <div class="call-layout">
        <div class="main-body" id="video-call">
            <div #localVideo [class.OT_big]="true" (dblclick)="toggleBigClass(localVideo)" id="localVideo"
                class="user-video">
                <div class="off-overlay"></div>
            </div>
            <div #remoteVideo *ngFor="let remote_call of remote;" [id]="remote_call" id="remoteVideo"
                (dblclick)="toggleBigClass(remoteVideo)" class="user-video"></div>
        </div>
    </div>
    <div class="call-footer">
        <div class="footer-btn-main">
            <button mat-icon-button matTooltip="Audio" *ngIf="audioFlag" (click)="toggleLocalAudio()" matTooltip="Mute">
                <img src="../../../assets/images/microphone.svg" width="26" height="26" alt="microphone icon missing" />
            </button>
            <button mat-icon-button matTooltip="Unmute" *ngIf="!audioFlag" (click)="toggleLocalAudio()">
                <img src="../../../assets/images/mute.svg" width="26" height="26" alt="camera icon missing" />
            </button>

            <button mat-icon-button matTooltip="Camera " *ngIf="videoFlag" (click)="toggleLocalVideo()">
                <img src="../../../assets/images/camera.svg" width="26" height="26" alt="camera icon missing" />
            </button>
            <button mat-icon-button matTooltip="Camera On" *ngIf="!videoFlag" (click)="toggleLocalVideo()">
                <img src="../../../assets/images/no_camera.svg" width="26" height="26" alt="camera icon missing" />
            </button>

            <button mat-icon-button class="end-call" (click)="endCall()" matTooltip="End Call">
                <img src="../../../assets/images/end_call2.svg" width="26" height="26" alt="microphone icon missing" />
                <span class="leave">Leave</span>
            </button>
        </div>
    </div>
</div>