.call-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: red;
    height: 100vh;

    header {
        background-color: transparent;
        opacity: 0.9;
        background-image: linear-gradient(0deg, #ededf1 0%, #8c8e8f 100%);
        color: white;
        padding: 10px;
        height: 80px;

        .logo-img {
            width: 8%;
            height: 100%;
            min-width: 150px;
        }
    }

    .user-video {
        margin: 4px;
        content: counter(video-call);
        color: white;
        border-radius: 10px;
        overflow: hidden;
    }

    ::ng-deep .footer-div {
        position: absolute;
        background: #524672;
        opacity: 0.7;
        width: 100%;
        bottom: 0;

        .username {
            padding: 10px 20px;
            text-transform: uppercase;
        }
    }

    .call-footer {
        display: flex;
        width: 100%;
        position: fixed;
        bottom: 10px;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;

        .footer-btn-main {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            button {
                border: 0.5px solid white;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                border-radius: 50px;
                cursor: pointer;
            }

            .end-call {
                background: #F76767 !important;
                width: 132px !important;
                height: 50px !important;
                border-radius: 10px !important;
                border: 0;
                margin-left: 30px;

                .leave {
                    margin-left: 15px;
                    color: white;
                    font-weight: 600;
                    letter-spacing: 1px;
                }
            }

        }
    }


}